.nav-link {
  color:black;
  font-weight: 500;
}
.active{
  color:red;
}
a.nav-link{
  position: relative;
  margin-right: 2rem;
}
a.nav-link::after{
  position: absolute;
  display: block;
  bottom: 0;
  content: "";
  left: 0;
  padding: 0;
  width: 0%;
  height: 3px;
  transition: all 0.1s ease-in-out;
  background-color: red;
}
a.nav-link:hover:after {
  color:pink;
  width:100%;
}
a.nav-link:hover{
  color: red;
}
ul.navbar-nav {
  margin-right: 5%;
} 