@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}
.nav-link {
  color: black;
  font-weight: 500;
}
.active {
  color: red;
}
a.nav-link {
  position: relative;
  margin-right: 2rem;
}
a.nav-link::after {
  position: absolute;
  display: block;
  bottom: 0;
  content: "";
  left: 0;
  padding: 0;
  width: 0%;
  height: 3px;
  transition: all 0.1s ease-in-out;
  background-color: red;
}
a.nav-link:hover:after {
  color: pink;
  width: 100%;
}
a.nav-link:hover {
  color: red;
}
.btn-link {
  color: black;
  font-size: 1.5rem;
}
.filter {
  display: flex;
  margin: 0 5rem;
  justify-content: space-between;
}
.grid-btn:focus {
  outline: none;
  box-shadow: none;
}
.heading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8rem 0;
  width: 100%;
}
.heading {
  font-size: 9rem;
  font-weight: 700;
}

.sub-heading {
  font-size: 2.5rem;
  font-weight: 700;
}
.tab-container {
  display: flex;
  justify-content: space-between;
}
ul.navbar-nav {
  margin-right: 5%;
}

@media only screen and (max-width: 600px) {
  .heading-container {
    margin: 3rem 0;
  }
  .heading {
    font-size: 7rem;
    font-weight: 700;
  }
  .sub-heading {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .lottieAnim {
    order: 1;
  }
}
